<div class="flex flex-col items-center justify-center h-full gap-2 p-2 overflow-y-auto bg-red-200 sm:flex-row"
  *ngIf="empData">
  <div
    class="flex flex-col bg-white text-center shadow-2xl items-center rounded-2xl py-2  justify-center p-2 w-full  h-[150px] sm:w-[470px]  sm:h-[650px]">
    <img src="../../../assets/Profile Picture 1.png" class="w-24 h-24 hover:scale-105 sm:w-56 sm:h-56" alt="">
    <div class="flex items-center justify-center gap-3 mt-4 sm:flex-col">
      <p class="text-white bg-gradient-to-r from-gray-500 via-gray-600 to-gray-700 hover:bg-gradient-to-br focus:outline-none rounded-lg text-sm px-5 py-1 sm:py-2.5 text-center "> ID : {{empData.id}}</p>
      <button type="button"
        class="text-white bg-gradient-to-r from-orange-500 via-orange-600 to-orange-700 hover:bg-gradient-to-br focus:outline-none rounded-lg text-sm px-5 py-1 sm:py-2.5 text-center ">
        Change Photo
      </button>
    </div>
  </div>
  <div
    class="p-3 bg-white flex flex-col overflow-y-auto shadow-2xl items-center rounded-lg justify-center w-full  h-[660px] sm:w-[970px]  sm:h-[650px]">

    <div class="min-h-full text-gray-700">
      <form class="grid text-lg h- md:grid-cols-2" [formGroup]="empEditForm" (ngSubmit)="update()">
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">First Name</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="firstName" formControlName="empFirstName" [placeholder]="empData.empFirstName">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Last Name</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="lastName" formControlName="empLastName" [placeholder]="empData.empLastName">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Contact No.</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="phone" formControlName="empPhoneNumber" [placeholder]="empData.empPhoneNumber">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Email.</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="email" formControlName="empEmailId" [placeholder]="empData.empEmailId">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Gender</label>

          <div class="col-span-2 space-x-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600">
            <label for="male">Male</label>
            <input name="empGender" formControlName="empGender"  type="radio" value="MALE" >
            <label for="femail">Female</label>
            <input name="empGender" formControlName="empGender" type="radio" value="Female" >
            <label for="other">Other</label>
            <input name="empGender" formControlName="empGender" type="radio" value="OTHER" >
          </div>


        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Birthday</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="Birthday" type="date"
            [max]="maxBirthDate"
             formControlName="empDateOfBirth">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Address Line 1</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="addressLine1" formControlName="empHomeAddrLine1" [placeholder]="empData.empHomeAddrLine1">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Address Line 2</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="addressLine2" formControlName="empHomeAddrLine2" [placeholder]="empData.empHomeAddrLine2">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Street</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="street" formControlName="empHomeAddrStreet" [placeholder]="empData.empHomeAddrStreet">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">District</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="district" formControlName="empHomeAddrDistrict" [placeholder]="empData.empHomeAddrDistrict">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Pin Code</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="pinCode" formControlName="empHomeAddrPinCode" [placeholder]="empData.empHomeAddrPinCode">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">State</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="state" formControlName="empHomeAddrState" [placeholder]="empData.empHomeAddrState">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Country</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="country" formControlName="empHomeAddrCountry" [placeholder]="empData.empHomeAddrCountry">
        </div>
        <div
          class="grid h-20 grid-cols-3 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-4 ">Joining Date</label>
          <input class="col-span-2 px-4 py-2 w-[180px] lg:min-w-[290px] placeholder:text-slate-600 focus:outline-none"
            name="joiningDate" formControlName="empDateOfJoining"  [placeholder]="empData.empDateOfJoining">
        </div>
      </form>
      <div class="flex items-center justify-center gap-4 p-2 mt-2 font-semibold ">
        <button type="button" [routerLink]="['/emp/',empData.id]"
          class="text-white bg-gradient-to-r from-blue-600 via-blue-700 to-blue-800 hover:bg-gradient-to-br  focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center  ">
          Back
        </button>
        <button type="submit" (click)="update()"
          class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br  focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center ">
          Submit
        </button>
      </div>


    </div>

  </div>

</div>
