<div class="flex items-center justify-center h-full p-2 ">
  <div
    class="p-3 bg-white flex flex-col overflow-y-auto shadow-2xl items-center rounded-lg justify-center w-full  h-[660px] sm:w-4/5  sm:h-5/6">
    <!-- employee form  -->
    <div class="w-full min-h-full text-gray-700 ">
      <form [formGroup]="empForm" class="grid text-lg lg:grid-cols-2" (ngSubmit)="submit()">
        <!-- first Name  input-->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">First Name</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="firstName" formControlName="empFirstName">
          <div class="w-full col-span-full " *ngIf="FC.empFirstName.errors && FC.empFirstName.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empFirstName.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- last Name input-->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Last Name</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="lastName" formControlName="empLastName">
          <div class="w-full col-span-full " *ngIf="FC.empLastName.errors && FC.empLastName.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empLastName.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- phone no input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Contact No.</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="phone" formControlName="empPhoneNumber">
          <div class="w-full col-span-full " *ngIf="FC.empPhoneNumber.errors && FC.empPhoneNumber.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empPhoneNumber.errors?.required">
              should not be empty
            </div>
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empPhoneNumber.errors?.pattern">
              Enter mobile number
            </div>
          </div>
        </div>
        <!-- email address input   -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Email.</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="email" formControlName="empEmailId">
          <div class="w-full col-span-full " *ngIf="FC.empEmailId.errors && FC.empEmailId.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empEmailId.errors?.required">
              should not be empty
            </div>
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empEmailId.errors?.email">
              Enter valid email address
            </div>
          </div>
        </div>
        <!-- gender input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Gender</label>
          <select formControlName="empGender"
            class="col-span-2 py-2 w-[180px] sm:w-full bg-white focus:outline-none px-4" name="gender">
            <option value="">Please select</option>
            <option value="FEMALE">Female</option>
            <option value="MALE">Male</option>
            <option value="OTHER">Other</option>
          </select>
          <div class="w-full col-span-full " *ngIf="FC.empGender.errors && FC.empGender.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empGender.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- birthday input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Birthday</label>
          <input class="col-span-2 px-4 py-2 w-[180px] bg-white sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="Birthday" formControlName="empDateOfBirth" type="date" min='1899-01-01' max='2004-01-31' required>
          <div class="w-full col-span-full " *ngIf="FC.empDateOfBirth.errors && FC.empDateOfBirth.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empDateOfBirth.errors?.required">
              should not be empty
            </div>

          </div>
        </div>
        <!-- address line 1 input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Address Line 1</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="addressLine1" formControlName="empHomeAddrLine1">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrLine1.errors && FC.empHomeAddrLine1.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrLine1.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- address line 2 input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Address Line 2</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="addressLine2" formControlName="empHomeAddrLine2">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrLine2.errors && FC.empHomeAddrLine2.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrLine2.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- street input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Street</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="street" formControlName="empHomeAddrStreet">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrStreet.errors && FC.empHomeAddrStreet.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrStreet.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- district input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">District</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="district" formControlName="empHomeAddrDistrict">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrDistrict.errors && FC.empHomeAddrDistrict.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrDistrict.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- pin code input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Pin Code</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="pinCode" formControlName="empHomeAddrPinCode">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrPinCode.errors && FC.empHomeAddrPinCode.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrPinCode.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- state input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">State</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="state" formControlName="empHomeAddrState">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrState.errors && FC.empHomeAddrState.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrState.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- country input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Country</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full placeholder:text-slate-600 focus:outline-none"
            name="country" formControlName="empHomeAddrCountry">
          <div class="w-full col-span-full " *ngIf="FC.empHomeAddrCountry.errors && FC.empHomeAddrCountry.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empHomeAddrCountry.errors?.required">
              should not be empty
            </div>
          </div>
        </div>
        <!-- joining date input  -->
        <div
          class="grid h-24 grid-cols-3 px-2 overflow-auto border-b-2 bg-slate-100 place-items-center sm:place-items-start place-content-center ">
          <label class="px-2 py-2 font-semibold sm:px-3">Joining Date</label>
          <input class="col-span-2 px-4 py-2 w-[180px] sm:w-full bg-white placeholder:text-slate-600 focus:outline-none"
            name="joiningDate" type="date" formControlName="empDateOfJoining">
          <div class="w-full col-span-full " *ngIf="FC.empDateOfJoining.errors && FC.empDateOfJoining.touched ">
            <div class="mr-8 text-sm text-red-600 text-end" *ngIf="FC.empDateOfJoining.errors?.required">
              should not be empty
            </div>
          </div>
        </div>

        <div
          class="grid grid-flow-col gap-4 p-2 mt-2 font-semibold lg:col-start-2 place-items-center place-content-center ">
          <button type="button" routerLink="/"
            class="text-white bg-gradient-to-r from-blue-600 via-blue-700 to-blue-800 hover:bg-gradient-to-br  focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center  ">
            Back
          </button>
          <button type="submit"
            class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br  focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center ">
            AddNew Employee
          </button>
        </div>
      </form>
    </div>


  </div>

</div>
